<li>
    <p><span class="label"># </span> {{this.id}}<span>   <span class="label"></span><span>     </span> {{this.burger_name}}

{{#unless devoured}}
        <span><button class="change-devour btn btn-secondary btn-sm" data-id="{{this.id}}"  data-newdevour="{{devoured}}" >
             Consume            
           
            </button></span>
            {{/unless}}

</li>